# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next
out

# Production
/build
/.vercel
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log

# IDE
.vscode/
.idea/
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Static generated content
public/sitemap*.xml
public/sitemap*.xml.gz

# Misc
*.swp
*.swo
.vercel
